	body {
		text-align: center;
		text-decoration: none;
		font-family: 'Times New Roman', sans-serif;
		margin: 0px;
		padding: 0px;
		line-height: 1.5;
	}

	h1 {


	}

	p {
		font-size: 1.2em;
		margin: 0px;
		padding: 0px;
	}

	img {
		width: 500px;
		height: 500px;
		border-radius: 5px;
	}

	a{
		text-decoration: none;
	}
	.imgindex {}

	#principal {}